
<div class="container">
  <div class="row ">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Spillereglerne for turneringen.</b>
          <p>Der skal grundlæggende tippes resultatet i 12 kampe. Resultatet er altid efter ordinær tid.</p>
          <p>Turneringen begynder fredag 27. september, 2019, og slutter ca 15.-16. december, 2019.  I alt ca. 12 runder.</p>
          <p>Du modtager en mail med et skema, hvorpå du skal påføre dit gæt på resultatet af hver kamp. Desuden skal du vælge tre kampe af de tolv
          og rate dem med "1" eller "2" eller "3". </p> <p>Den kamp du mener er mest "sikker" rates med et 1-tal og den kamp der er næstmest sikker med et 2-tal,
            og den kamp der trejdemest sikker med et 3-tal. </p> <p>Ratings-pointsene ændres i løbet af konkurrencen.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Aflysning af runde</b>
          <p>Ved aflysninger i en runde, annulleres (=slettes) alle tip og ratings på de aflyste kampe.</p>
          <p>De spillede kampe i runden tæller stadig i konkurrencen (også selv om der kun spilles én kamp) og pointsgivningen er den samme.</p>
          <p>En runde består af en eller flere dage, som angivet på det udsendte skema før rundens start. Udsatte kampe, som først spilles efter sidste
          planlagte kamp for runden, betragtes som aflyste.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Hvis du glemmer at tippe</b>
          <p>Hvis man glemmer at sende tips til tiden, vil tips fra forrige runde blive kopieret ind i den kommende runde!</p>>
          <p>Der vil være spurt præmie på kr 100, til den enkelte vinder i hver runde.</p>
          <p>Alle kampes resultater gælder efter ordinær spilletid.</p>
          <p>  Der skal ikke tænkes eller tippes på forlænget spilletid eller straffesparkskonkurrence.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Points</b>

          <p>Der er 4 kategorier:</p>

          <p>- Result</p>
          <p>- Rights</p>
          <p>- Goal</p>
          <p>- Bonus</p>
          <p>Pointsene ændrer sig 3 gange undervejs i turneringen, se nedenfor. Således er der flere points at spille om i de sidste runder.</p>
          <p>Kategoriernes points tildeling beskrives således:</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Result:</b>

          <p>Rigtig Vinder: Der gives points for at gætte vinderen eller uafgjort, og for at ramme det rigtige resultat.</p>

          <p>Rating: Der gives tillægspoints for "ratingen". (Bemærk det er 3 kampe der skal rates i denne konkurrence)</p>
          <p>Hvis du har rated en kamp 1, 2 eller 3 og du har fundet rigtig vinder eller uafgjort får du ekstra points.</p>

          <p>Rigtig antal mål i forkert tippet kamp: Der gives points for at ramme det rigtige antal scoringer i en kamp, men kun når kampen er tippet forkert.</p>

          <table class="card">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">1. - 5. spillerunde</th>
              <th scope="col">points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Rigtig vinder eller uafgjort</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Rigtig resultat (fx. 2-1), ialt</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Rating 1</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Rating 2</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Rating 3</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Rigtig antal mål i en kamp, som er tippet forkert</td>
              <td>2</td>
            </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">6. - 10. spillerunde</th>
              <th scope="col">points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Rigtig vinder eller uafgjort</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Rigtig resultat (fx. 2-1), ialt</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Rating 1</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Rating 2</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Rating 3</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Rigtig antal mål i en kamp, som er tippet forkert</td>
              <td>3</td>
            </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">11 - 14. spillerunde</th>
              <th scope="col">points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Rigtig vinder eller uafgjort</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Rigtig resultat (fx. 2-1), ialt</td>
              <td>32</td>
            </tr>
            <tr>
              <td>Rating 1</td>
              <td>19</td>
            </tr>
            <tr>
              <td>Rating 2</td>
              <td>17</td>
            </tr>
            <tr>
              <td>Rating 3</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Rigtig antal mål i en kamp, som er tippet forkert</td>
              <td>4</td>
            </tr>
            </tbody>
          </table>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <b>Rights:</b>

          <p>Der gives ekstrapoints for at tippe flere kampe rigtigt i en runde, jo flere kampe des højere points, dog først efter 5 kampe.</p>
          <table class="card">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">1. - 5. spillerunde</th>
              <th scope="col"> Antal kampe gættet rigtigt i en runde</th>
              <th scope="col">points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr>
              <td></td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td></td>
              <td>7</td>
              <td>12</td>
            </tr>
            <tr>
              <td></td>
              <td>8</td>
              <td>18</td>
            </tr>
            <tr>
              <td></td>
              <td>9</td>
              <td>25</td>
            </tr>
            <tr>
              <td></td>
              <td>10</td>
              <td>33</td>
            </tr>
            <tr>
              <td></td>
              <td>11</td>
              <td>42</td>
            </tr>
            <tr>
              <td></td>
              <td>12</td>
              <td>52</td>
            </tr>
            </tbody>
          </table>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
</div>
