<div *ngIf="tournament  && !loading">
  <h2></h2>
  <h3>Igangværende turnering: {{tournament.name}}<</h3>
  <h3>Leaderboard</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brugere</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <div>
      <button class="btn btn-primary" (click)="changeShowFavorites()">Show all/favorites</button>
    <div *ngIf="!showFavorites">
      <tr *ngFor="let user of tournament.participants">
        <td>1</td>
        <td>{{user.user.firstname}} {{user.user.lastname}}</td>
        <td>{{user.totalUserPoints}}</td>
      </tr>
    </div>
    <div *ngIf="showFavorites">
      <tr *ngFor="let user of favTournaments">
        <td>1</td>
        <td>{{user.user.firstname}} {{user.user.lastname}}</td>
        <td>{{user.totalUserPoints}}</td>
      </tr>
    </div>
    </div>
    </tbody>
  </table>
  <button (click)="clickedTheButton()">click me</button>
</div><div *ngIf="tournament  && !loading">
  <h2></h2>
  <h3>Igangværende turnering: {{tournament.name}}<</h3>
  <h3>Leaderboard</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brugere</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of tournament.participants">
      <td>1</td>
      <td>{{user.user.firstname}} {{user.user.lastname}}</td>
      <td>{{user.totalUserPoints}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="clickedTheButton()">click me</button>
</div>
<div *ngIf="!tournament && !loading">
  <h2>Ingen turnering er lige pt igang!</h2>
  <h3>Check endelig senere!</h3>
</div>
<div *ngIf="loading">
  <h1>Loading........</h1>
</div>


