<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class=navbar-collapse collapse w-100 order-1 order-md dual-collapse2>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users">Users </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rounds">Rounds</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rules">Rules</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/tournamentList">Alle turneringer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user-rounds-list">Round-Leaderboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/addTournament">Add a Tournament</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <p style="color: silver"> You are logged in as {{getUser().firstname}} {{getUser().lastname}}</p>
        <a (click)="logout()" class="nav-link" href="">Logout</a>
      </li>
    </ul>
  </div>
</nav>
