<!--<div *ngIf="round && round.matches && tipsForUser">
  <li *ngFor="let match of round.matches">
    <h1>{{match.homeTeam}} vs. {{match.guestTeam}}</h1>
    <ng-form [formGroup]="fixedMatchForm" (ngSubmit)="save()">
      <label> {{match.homeTeam}}
        <input placeholder="Home score" formControlName="homeTip">
      </label>

      <label> {{match.guestTeam}}
        <input placeholder="Guest Score" formControlName="guestTip">
      </label>

      <label> Rating
        <input placeholder="Rating" formControlName="rating">
      </label>
      <div fxLayoutAlign="end center">
        <button color="primary" type="submit">Save</button>
      </div>
    </ng-form>
  </li>
</div>-->

<div class="container" *ngIf="matches">
  <form [formGroup]="matchForm" (ngSubmit)="save()">
      <div *ngFor="let formGroup of t.controls; let i = index">
        <div [formGroup]="formGroup">
          <div class="row">
          <table class="table-bordered">
            <tr>
              <th>{{matches[i].homeTeam}}</th>
              <th>{{matches[i].guestTeam}}</th>
              <th>Rating</th>
            </tr>
            <tr>
              <td><input formControlName="homeTip"></td>
              <td><input formControlName="guestTip"></td>
              <td><input formControlName="rating"></td>
            </tr>
          </table>
          </div>
    </div>
      </div>
    <button color="primary" type="submit">Save</button>
  </form>


</div>
