<div *ngIf="round && round.matches && tipsForUser">
  <li *ngFor="let match of round.matches">
    <a>{{match.homeTeam}} vs. {{match.guestTeam}}</a>
    <ng-form [formGroup]="matchForm" (ngSubmit)="save()">
      <label> {{match.homeTeam}}
        <input placeholder="Home score" formControlName="homeTip">
      </label>

      <label> {{match.guestTeam}}
        <input placeholder="Guest Score" formControlName="guestTip">
      </label>

      <label> Rating
        <input placeholder="Rating" formControlName="rating">
      </label>
      <div fxLayoutAlign="end center">
        <button color="primary" type="submit">Save</button>
      </div>
    </ng-form>
  </li>
</div>




