<form [formGroup]="matchForm" (ngSubmit)="add()">

  <table class="col-md-offset-1">
    <thead>
    <th>HomeTeam</th>
    <th>GuestTeam</th>
    <th>Kick-Off</th>
    </thead>
    <div *ngFor="let m of match">
    <tbody >
    <td>
      <label>
      <input type="text" formControlName="HomeTeam" required>
    </label>
    </td>
  <td>
    <label>
    <input type="text" formControlName="GuestTeam" required>
  </label>
  </td>
    <td>
      <label>
      <input type="Date" formControlName="StartDate" required>
    </label>
    </td>
    </tbody>
    </div>
  </table>

  <button class=" btn-primary s" type="submit">Add Matches to Round</button>

</form>
