<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<form [formGroup]="lookupForm">
  <div *ngFor="let a of amount">
    <input type="text" formControlName="GuestTeam" placeholder="GuestTeam">
    <input type="text" formControlName="HomeTeam" placeholder="Hometeam">
    <input type="datetime" formControlName="StartDate" placeholder="StartDate" bsDatepicker>

    <button type="submit" (click)="addToList()">add to list</button>
  </div>
  <button type="submit" (click)="addToRound()">add to round</button>
  <h3>Ting i liste: {{listOfMatches.length}}</h3>
  <div *ngFor="let d of listOfMatches">
    <h3>{{d.HomeTeam}} {{d.GuestTeam}} {{d.StartDate}}</h3>
  </div>
</form>
